<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ .Site.BaseURL }}/">{{ .Site.Title }}</a>
      </h1>
      <p class="lead">{{ .Site.Params.tagline }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{{ if eq .Page.Permalink .Site.BaseURL }} active{{ end }}{{ if eq .Page.RelPermalink "/index.html" }} active{{ end }}" href="{{ .Site.BaseURL }}/">Home</a>

      {{- $currentPage := . }}
      {{- range .Site.Pages }}
        {{- if and (eq .Kind "section") (ne .Title "") }}
          <a class="sidebar-nav-item{{ if eq .Permalink $currentPage.Permalink }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
        {{- end }}
      {{- end }}

      <a class="sidebar-nav-item" href="https://forum.restic.net/">Forum</a>
      <a class="sidebar-nav-item" href="https://restic.readthedocs.io/en/stable/">Docs</a>
      <a class="sidebar-nav-item" href="https://restic.readthedocs.io/en/latest/">Docs (dev)</a>

      <a class="sidebar-nav-item" href="https://github.com/restic/restic">
        <i class="fa fa-github" aria-hidden="true"></i>
        GitHub Project
      </a>

      <a class="sidebar-nav-item" rel="me" href="https://fosstodon.org/@restic">
        <i class="fa-brands fa-mastodon" aria-hidden="true"></i>
        @<span class="username">restic</span>
      </a>
    </nav>

    {{ if .IsHome }}
      <p class="lead">Table of Contents</p>
      {{ .TableOfContents }}
    {{ end}}
  </div>
</div>
